h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1em;
  font-family: var(--font-main), Courier, monospace;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.1rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* List */
ul {
  margin: 0;
  padding: 0 1px;
  list-style: disc outside;
  font-variant-numeric: tabular-nums;
}

ol {
  list-style: decimal outside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.563rem;
}

li {
  list-style-position: inside;
}

dd {
  margin-left: 1rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--colour-primary);
  border-radius: 10px;
  color: var(--colour-text);
  height: 2.5rem;
  background-color: var(--colour-secondary);
  background-image: var(--colour-secondary);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}
